body{
    background-image: url(back.jpg);
    text-align: center;
}

input[type=number]{
    width: 10%;
    font-size: 15px;
    padding: 10px 12px;
    margin: 8px 0px;
    border-radius: 10px;
}
button{
    padding: 6px 8px;
    background-color: rgb(158, 154, 154);
}
